/*styling of selectChallenge.html*/

.heading {
  top: 200px;
  position: relative;
  text-align: center;
  font-size: 50px;
  font-family: Roboto;
  font-weight: bold;
  color: rgb(78, 81, 168);
  }
  
  .challengeBox {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    top: 250;
    font-size: 50px;
    font-family: Roboto;
    font-weight: bold;
    width: 800px; height: 1500px;
    border: 5px solid rgba(0,0,0,0.1);
    border-radius: 50px;
    background-color: rgb(194 217 222);
  }
  
    .challenge1 {
      width: 800px;
      height: 500px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: transparent;
    }

    .middleChallenge {
      width: 800px;
      height: 500px;
      position: absolute;
      top: 500px;
      left: 0;
      background-color: transparent;
      border-top: 5px solid rgba(0,0,0,0.1);
    }

    .challenge3 {
      width: 800px;
      height: 500px;
      position: absolute;
      top: 1000px;
      left: 0;
      background-color: transparent;
      border-top: 5px solid rgba(0,0,0,0.1);
    }
  
    .challengeHeading {
      position: relative;
      text-align: center;
      font-size: 50px;
      font-family: Roboto;
      font-weight: bold;
      color: rgb(78, 81, 168);
    }