body {
  background-color: white;
  padding: 10px;
}

p {
  text-align: center;
  font-size: 30px;
}

select {
  font-size: 30px;
  text-align: center;
  background-color: rgb(194 217 222);
  color: rgb(78, 81, 168);
}

iframe {
  top: 0;
  position: sticky;
}
.submit {background-color: rgb(194 217 222); color: rgb(78, 81, 168); padding: 20px; font-size: 30px; position: sticky; top:750px; left: 1500px;}
